html{
    background: rgb(152, 125, 214);
}
.contenedor{
    
    width: 400px;
    height: 250px;
    margin: center;
}
.btnDelete{
    display: hidden;
    background: rgb(201, 28, 28);
}
.btnDelete :hover{
    display: show;
}